/*//-.-. .- -- . .-. --- -. / -- .- .-. ... .... .- .-.. .-..//*/
div.container {
  width: 800px;
  min-height: 200px;
  margin: auto;
}
/*//-.-. .- -- . .-. --- -. / -- .- .-. ... .... .- .-.. .-..//*/
div.row {
  margin: 0 auto;
}
/*//-.-. .- -- . .-. --- -. / -- .- .-. ... .... .- .-.. .-..//*/
div.switch {
  display: inline-block;
  padding:10px;
  background-color:saddlebrown;
  margin: 1px;
  border-radius: 10%;
}
/*//-.-. .- -- . .-. --- -. / -- .- .-. ... .... .- .-.. .-..//*/
div.switch:hover{
  background-color: darkgrey;
}
/*//-.-. .- -- . .-. --- -. / -- .- .-. ... .... .- .-.. .-..//*/
button {
  margin: 5px;
  width: 40px;
  height: 40px;
  background-color: red;
  border-style: none;
  border-radius: 10%;
}
/*//-.-. .- -- . .-. --- -. / -- .- .-. ... .... .- .-.. .-..//*/
button.on {
  background-color: lawngreen;
}
